<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="all">
    <Appenders>
        <File name="File" fileName="C:\Dev\Epam-2022-course\train-reservation\logs\app.log" append="false">
            <PatternLayout
                    pattern="[%-5p][%d{dd-MMM-yyyy HH:mm:ss a}] %C{0}.%M:(%L) - %m%n" />
        </File>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>