body
        {
            background:url("../images/background.jpg") no-repeat center center fixed;
            background-size: cover;
            margin: 40px;
            padding: 20px;
            opacity: 0.85;
        }

form    {
                background: #C2C2D6;
                border-radius: 15px;
                text-align: center;
                width: 70%
        }

nav    {
                background: #C2C2D6;
                border-radius: 15px;
                text-align: center;
        }










