body
        {
            background:url("../images/background.jpg") no-repeat center center fixed;
            background-size: cover;
            margin: 40px;
            padding: 20px;
            opacity: 0.9;
        }

form    {
                background: #E0E0E0;
                border-radius: 15px;
                text-align: center;
        }

nav    {
                background: #E0E0E0;
                border-radius: 15px;
                text-align: center;

        }










